{% extends 'main.html' %}
{% block content %}
{% load static %}

<div class="members-add">
    <div class="add" style="color:azure" align="left">
        <p>Вадюх, тут будет основное описание нашего клуба. Что мы, кто мы, где и как. Сколько денег, где проходят игры,
        что за турнир такой "Elit-Турнир", какие-то правила, описания и прочее. Например:</p>
        Рады приветствовать тебя в нашем клубе. Мы - начинающая футбольная команда Арсенал. Наша команда регулярно
            подает заяки на участие в турнире по мини-футболу.
        Сейчас мы набираем всех желающих в команду, было бы желание играть) Однако, есть несколько главных исключений:
        <p>-   возраст должен быть от 14+ лет </p>
        <p>-   турнир не бесплатный. Взнос на участие - 6000грн. Эта сумма делется на всех участников поровну -   инвентарь,
            форма и прочее оборудование закупается на всех из общака </p>
        <p>-   явка на игру обязательна </p>
        -   в случае отсутсвия на игре, желательно предупредить за 2 дня до матча
        Всю остальную подробную информацию, а так же на все ваши вопросы, я отвечу по телефону
            или при встрече
        <p>Для того, чтобы оставить заявку на вступление в клуб -  <a href="{% url 'add_to_team' %}">жми сюда</a>

    </div>
</div>



{% endblock %}