{% extends 'main.html' %}
{% block content %}
{% load static %}
<div style="color:white">
    Рад приветствовать тебя в команде Арсенал. Сейчас я коротко расскажу о том,что мы из себя представляем.
    Мы - самостоятельная команда новичков по футболу и (мини-футболу). Каждый сезон мы подаем заявку на участие
    в Харьковском турнире "Элит-Турнир", в котором участие принимают практически 100 комманд. Участие в турнире требует
    взноса от 500 до 1000грн с человека. В эти деньги входит: форма, инвентарь и право на участие в турнире. Игры проходят
    каждую неделю на выходных; если нет, то мы устраиваем тренировку или я договариваюсь о товарищеском матче. Если тебе
    все подходит, то жми сюда ↓
    <div style align="center"> <p><a href="{% url 'add_to_team' %}">Оставить заявку</a></p></div>
</div>



{% endblock %}