{% extends 'main.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="carda">
                <div class="fan-text">
                <p>Фан-движение нашего клуба зародилось сразу же с появлением команды в городе,
                    благодаря одному единственному человеку.</p>
                    <div class="card">
                    <img src="{% static 'ars21.png' %}" width="100%">
                <p>Наш активный фан-деятель прошел сезон лиги Елит-турнира вместе с нами с самого начала.
                Встречал нас у ворот здания спорткомплекса и не переставал верить в команду, несмотря 
                на серию сокрушительных поражений. Друзья и родственники также принимают активное участие 
                    в поддержке команды и в клубных мероприятиях.</p>
                        <img src="{% static 'qqq.png' %}" width="100%">

                <p>Если тебе не безразличен наш город и наш футбол, мы ждем тебя на наших играх!
                Наша команда только начинает писать свою историю, и ты можешь быть у ее истоков!  
                    Вместе мы сможем сделать гораздо больше!</p>

                        <img src="{% static 'q.png' %}" width="100%">
                    </div>
                <p>Если ты не можешь усидеть на месте во время матчей нашего клуба, если ты любишь спорт, хочешь активно поддерживать «арсеналовцев» - присоединяйся к нам!
                    Ты нужен команде, мы ждём тебя в фан-клубе!</p>
                
                <p>По вопросам вступления в фан-сектор:
                    *  номер телефона  *, Снежко Артур - СПЕЦИАЛИСТ по работе с болельщиками</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock%}