{% extends 'main.html' %}
{% block content %}
{% load static %}

{% for new in news %}
<div id="card sm-12 md-12">
    {% if user.is_staff %}
        <h5><a style="color:white" href="{% url 'add_n' %}">Добавить Пост</a></h5>
    {% endif %}

    <div class="card_header sm-12 md-12">
        <div class="post_info">
            <div class="post_name"><h2><a href="">{{ new.news_title }}</a></h2></div>
            <div class="post_date"><p>Опубликовано: {{ new.news_date }}</p></div>

            {% if new.news_image %}
                <img src="{{new.news_image.url}}" alt="My Image" width="100%">
            {% endif %}

            <div class="post_text"><p>{{ new.news_text|linebreaksbr }}</p>
                <div class="post_likes">
                    <img src="{% static 'like.jpg' %}" width="25px" height="25px">Понравилось: {{ new.news_likes }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
