* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #FAF0E6;
    background-image: url(../img/m5.jpg);
    font-family: 'Exo 2', sans-serif;
}

#block-body {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

header {
    width: 100%;
    height: 114px;
    background-color: black;
    background-image: url(../img/ex.jpg);
}

.top-menu {
    width: 600px;
    height: 114px;
    float: right;
    text-align: left;
    margin-right: 600px;
}

.top-menu a {
    text-align: center;
    height: 80px;
}

.top-menu ul li {
    list-style: none;
    float: right;
    text-align: right;
    height: 80px;
}

.top-menu ul li a {
    display: block;
    width: 150px;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 17px;
    color: white;
    height: 64px;
    padding-top: 50px;
    cursor: pointer;
}

.top-menu a:hover {
    color: aqua;
}

.block-top-auth {
    width: 100px;
    float: left;
    margin-left: 0;
    height: 114px;
}

.block-top-auth p {
    margin-top: 24px;
    text-align: center;
    margin-bottom: 8px;
}

.block-top-auth a {
    text-decoration: none;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
}

.block-top-auth a:hover {
    color: aqua;
}

.card {
    background-color: #FAF0E6;
    margin: 0 auto;
    width: 614px;
    height: auto;
    border: .8px solid #ccc;
    border-radius: 4px;
    margin-bottom: 60px;
}


.compose {
    text-align: center;
    color: white;
    font-family: 'Exo 2', sans-serif;
    height: 900px;
    background-image: url(../img/123.jpg);
}

.compose a: hover {
    color: black;
}

.team {
    background-image: url(../img/1563231552177070542.jpg);
    height: 900px;
    }


.team-player a {
    color: black;
}

.block-main {
    width: 100%;
    height: 900px;
    background-image: url(../img/123.jpg);
}

.block-player {
    margin: 0 auto;
    display: block;
    color: #111;
    width: 614px;
    height: 35%;
}

.block-img {
    width: 50%;
    height: 100%;
}

.block-stat {
    text-align: left;
    width: 50%;
    height: 100%;
    float:right;
}

.block-stat ul li {
    color: #111;
    font-family: 'Anton', sans-serif;
}

.compose-2 {
    text-align: center;
    width: 50%;
    height: 100%;
    float:right;
}

.compose-2 h3 {
    text-align: center;
}
.compose-2 h3:hover {
    color: #FFFFFF;
}

.compose-3 h3 {
    margin-left: 25px;
}
.compose-3 h3:hover {
    color: #FFFFFF;
}

.compose-1 {
    margin: 30px auto;
    display: block;
    color: #DCDCDC;
    width: 580px;
    height: 35%;
}

.form {
    background-image: url(../img/form.jpg);
    background-color: #FAF0E6;
    margin: 0 auto;
    width: 814px;
    height: auto;
    border: .8px solid #ccc;
    border-radius: 4px;
}


.form-m {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.7);
}

.form-m h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}


.form-m form {
    margin: 15px 40px;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    background: none;
    box-sizing: border-box;
}

.form-m [type="submit"] {
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background: #111;
    transition: .3s;
}

.form-m [type="submit"]:hover {
    color: aqua;
}


.person_table {
    margin: auto;
    text-align: center;
    border: 3px solid white;
    color: #FAF0E6;
}

.person-top {
    border: 3px solid white;
}

.person-content {
    height: 100px;
}

.cabinet-img {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    margin: 0 auto;
    white-space: nowrap;
    text-align: left;
}

.cabinet-img img {
    display: block;
    margin: 5px;
    white-space: nowrap;
}

.cabinet-img p {
    display: block;
    margin: 5px;
    width: 200px;
    color: #fff;
}
